@model SchoolManager.Models.ViewModel.TeacherFormViewModel

@{
    ViewData["Title"] = "Details";
}
<h2> @ViewData["Title"]</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Classrooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Classrooms)
        </dd>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>

