@model SchoolManager.Models.Teacher

@{
    @using SchoolManager.Models.Enums
        ViewData["Title"] = "Teacher Details";
}

<h2>@ViewData["Title"]</h2>

<div class="card shadow-sm">

    <div class="card-header">
        <h4 class="mb-0">Teacher Information</h4>
    </div>

    <div class="card-body">

        <dl class="row">

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Model.Name
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Model.Email
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-9">
                @Model.Phone
            </dd>
            <dt class="col-sm-3">
                Classrooms
            </dt>
            <dd class="col-sm-9 d-flex flex-wrap gap-1">
                @foreach (var item in Model.Classrooms)
                {
                    <span class="badge @item.Shift.GetBadgeClass()">
                        @item.Name
                    </span>
                }
            </dd>

        </dl>
    </div>
    <div class="card-footer">
        <div class="d-flex gap-2">
            <a asp-action="Edit"
               asp-route-id="@Model.Id"
               class="btn btn-primary">
                Edit
            </a>

            <a asp-action="Index"
               class="btn btn-secondary">
                Back
            </a>
        </div>