@model SchoolManager.Models.Student

@{
    ViewData["Title"] = "Student Details";
}
<h2> @ViewData["Title"]</h2>

<div class="card shadow-sm">

    <div class="card-header">
        <h4 class="mb-0">Students Information</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
            <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
            <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Classroom.Name)
        </dt>
            <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Classroom.Name)
        </dd>
            <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Classroom.Shift)
        </dt>
            <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Classroom.Shift)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
